<header class="theme w3-bar">
  <h1 class="w3-bar-item">Budgetme</h1>
</header>
<br>
<div class="border-theme w3-round-xlarge w3-display-middle w3-padding" style="width:80%">
  <h2>Login</h2>
  <% include ./partials/messages %>
  <form action="/users/login" method="POST">
      <div class="form-group">
          <label for="email">Email</label>
          <input class="w3-input" type="email" id="email" name="email" class="form-control"
              placeholder="Enter Email" />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input class="w3-input" type="password" id="password" name="password" class="form-control"
              placeholder="Enter Password" />
      </div>
      <button type="submit" class="w3-button theme-d2 hover-theme">Login</button>
  </form>
  <p>New here? <a href="http://134.122.109.226/users/register">Sign Up Now</a></p>
</div>
