@media (max-width:993px){
    #mySidebar  {
        width: 100%;
    }
    .w3-main {
      style="margin-left:100%;"
    }
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}
