.accordion {
  transition: 0.4s;
}

.active, .accordion:hover {
}

.accordion:after {
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
